# Build artifacts
bms/build/
/*.o
/*.elf
/*.hex
/*.bin
/*.map

/.clangd

# IDE files
/.vscode/*.*
!.vscode/tasks.json
/.idea/
/*.swp
*.log
*.idx

# CubeMX
*.ioc

# STM32CubeIDE specific
/.settings/
/Debug/
/Release/
.fingerprint
target

# MacOS cruft
.DS_Store
compile_commands.json