# Build artifacts
bms/build/
/*.o
/*.elf
/*.hex
/*.bin
/*.map

/.clangd

# IDE files
/.vscode/*.*
!.vscode/tasks.json
/.idea/
/*.swp
*.log

# CubeMX
*.ioc

# STM32CubeIDE specific
/.settings/
/Debug/
/Release/

# MacOS cruft
.DS_Store
