CompileFlags:
    Add:
        - "-ferror-limit=0"
        - "-Wno-implicit-int"
        - "--sysroot=/Applications/ArmGNUToolchain/14.3.rel1/arm-none-eabi/arm-none-eabi"
        - "-isystem/Applications/ArmGNUToolchain/14.3.rel1/arm-none-eabi/arm-none-eabi/include"
    CompilationDatabase: build/Debug
Diagnostics:
    Suppress:
        - unused-includes
        - unknown_typename
        - unknown_typename_suggest
        - typename_requires_specqual
        - bugprone-easily-swappable-parameters
InlayHints:
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
    Designators: Yes
    BlockEnd: No
