name: Linux Build Compile

on:
  push:
    paths:
      - "bms/**"
      - ".github/workflows/linux.yaml"
  pull_request:
    paths:
      - "bms/**"
      - ".github/workflows/linux.yaml"

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build
          sudo apt-get install -y gcc-arm-none-eabi

      - name: Configure (CMake)
        working-directory: ./bms
        run: |
          set -e
          cmake -S . -B build \
            -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_TOOLCHAIN_FILE=cmake/gcc-arm-none-eabi.cmake
            
      - name: Build
        working-directory: ./bms
        run: |
          cmake --build build

      - name: Cache CMake build
        uses: actions/cache@v3
        with:
          path: |
            bms/build
          key: ${{ runner.os }}-build-${{ hashFiles('bms/CMakeLists.txt') }}
          
      - name: Upload firmware
        uses: actions/upload-artifact@v3
        with:
          name: firmware
          path: bms/build/*.elf
        
        
